<button (click)="logout()" class="circle-add-button button is-danger"></button>
<button routerLink="/lists" class="circle-admin-button button"></button>

<div class="centered-content">
  <div class="task-manager-container">
    <div class="sidebar has-background-white">
      <h1 class="title has-text-primary">Users</h1>
      <div class="list-menu">
        <a
          class="list-menu-item"
          *ngFor="let user of users"
          [routerLink]="['/admin/user', user._id]"
          routerLinkActive="is-active"
        >
          <p>
            {{ user.email }}
          </p>
        </a>
      </div>

      <button
        class="button is-primary has-text-white"
        [routerLink]="['/admin/new-user']"
      >
        + New User
      </button>
    </div>

    <div class="task-list-container has-background-light">
      <!-- Details User Elements -->

      <div class="task" *ngIf="selectedUserId">
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input
              #emailInput
              class="input is-success"
              type="text"
              placeholder="Email..."
              [value]="user.email"
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <label class="checkbox">
              Is Admin
              <input #isAdminInput type="checkbox" [checked]="user.isAdmin" />
            </label>
          </div>
        </div>
        <button
          class="button is-primary has-text-white"
          (click)="onUserUpdateClick(emailInput.value, isAdminInput.checked)"
        >
          Update
        </button>
        <button
          (click)="onUserDeleteClick(selectedUserId)"
          class="button is-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
